    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download My CV</h2>
                    <p>Take a look at my CV for more information about my experience</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://ca.linkedin.com/in/glesauteur" class="btn btn-default btn-lg"> <span class="network-name">Francais</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/glesauteur" class="btn btn-default btn-lg"> <span class="network-name">English</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>